
@import "./chat.scss";
@import "./side-bar.scss";

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}